<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="home :: nav"></th:block>

<body>
<div class="container">
    <div class="board__top">
        <li>게시판</li>
        <li>SEARCH</li>
    </div>
    <div class="board__mid">
    <table border="1" class="board">
        <thead class="board__head">
            <tr>
                <th>번호</th>
                <th width="280px">제목</th>
                <th width="50px">작성일</th>
                <th>조회</th>
            </tr>
        </thead>
        <tbody class="board__body">
            <tr th:each="board : ${board}">
                <td align="center" th:text="${board.id}"></td>
                <td th:text="${board.name}"></td>
                <td align="center">1</td>
                <td align="center">1</td>
            </tr>
        </tbody>
    </table>
    </div>
</div> <!-- /container -->
</body>
</html>

