*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}
.navbar * {
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 24px;

}
.navbar__logo {
    font-size: 24px;
    color: white;
}
.navbar__menu {
    display: flex;
}

.navbar__menu li {
    padding: 8px 12px;

}
.navbar__menu li:hover {
    background: #d49466;
    border-radius: 4px;
}
.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0px;
}
.navbar__icons li {
    padding: 8px 12px;
}
.navbar__toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10.5px 24px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li {
            text-align: center;
            width: 100%;
    }
    .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%
    }
    .navbar__toogleBtn {
        display: block;
    }
    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}

.board__top {
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
}
.board__mid {
    display: flex;
    justify-content: center;
}
.board__head tr th {
    padding: 8px 12px;
    background: #263343;
    color: white;
}