<!DOCTYPE HTML>
<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</HEAD>
<BODY>

    <div class="wrap">
        <div class="intro_bg">
            <div class="header">
                <div class="searchArea">
                    <form>
                        <input type="search" placeholder="Search">
                        <span>검색</span>
                    </form>
                </div>
                <ul class="nav">
                    <li><A href="/">HOME</A></li>
                    <li><A href="#">ABOUT</A></li>
                    <li><A href="#">SERVICE</A></li>
                    <li><A href="#">CONTACT</A></li>
                </ul>
            </div>
<!--                <a href="/members/new">회원 가입</a>-->
<!--                <a href="/members">회원 목록</a>-->
        </div>
    </div>


</BODY>
</HTML>