<!DOCTYPE HTML>
<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/c06cc342f0.js" crossorigin="anonymous"></script>
    <script src="../js/main.js" defer></script>
</HEAD>
<BODY>

    <nav class="navbar">
        <div class="navbar__logo">
            <i class="fas fa-dragon"></i>
            <a href="">WhiteDragon</a>
        </div>
        <ul class="navbar__menu">
            <li><A href="/">HOME</A></li>
            <li><A href="/board/list">게시판</A></li>
            <li><A href="#">SERVICE</A></li>
            <li><A href="#">CONTACT</A></li>
        </ul>
<!--                <a href="/members/new">회원 가입</a>-->
<!--                <a href="/members">회원 목록</a>-->
        <ul class="navbar__icons">
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-facebook"></i></li>
        </ul>
        <a href="#" class="navbar__toogleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>


</BODY>
</HTML>